@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

$sans-serif: arial, helvetica, sans-serif;
$serif: georgia, "times new roman", times, serif;
$GoogleSans: arial, sans-serif;
$OpenSans-serif: Tahoma, Geneva, sans-serif;
$OpenSans: "Open Sans", sans-serif;
