.footer{
  width: 100vw;
  height: 600px;
  // background-image: image-url('footer.png');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // z-index: -1;
  margin-top: 100px;
  > div{
    margin: 20px;
    height: fit-content;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    >*{
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    a{
      margin: 0 20px;
    }
  }
  .icons{
    width: inherit;
    display: flex;
    align-items: center;
    margin: 50px;
    font-size: 30px;
    color: rgb(0, 106, 255);
    >*{
      margin: 0 50px;
    }
  }
  #footer-logo{
    width: 120px;
    height: 50px;
  }
}

