@import "../base/fonts";
@import "../base/colors";

.house-sell-form-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dropzone-container {
  height: 100vh;
}

.house-sell-input-container {
  border: 5px solid goldenrod;
  > form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    input[type="text"] {
      border: 5px solid red;
      margin: 10px;
    }
    label {
      width: 20%;
    }
  }
}

.dropzone-container {
  > h1 {
    text-align: center;
    line-height: 200px;
    color: $zillow-color;
  }
}

.dropzone {
  :hover {
    text-shadow: 0 0 20px #009dff;
  }
}
