@import "../base/fonts";
@import "../base/colors";
@import "../base/variables";

.main-sell {
  width: 100vw;
  height: 100vh;
  background-image: image_url("house_for_sale.png");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  z-index: -1;
}

.sell-background {
  display: block;
  visibility: hidden;
  height: auto;
  width: 100vw;
  position: absolute;
  z-index: -2;
}

.sell-slogan {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 40px;
  // width: fit-content;
  > h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 50px;
    margin: 20px;
  }
  > h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 400;
    margin: 20px;
  }
  top: 20%;
  color: black;
  font-weight: bolder;
  position: relative;
}

.add-house {
  margin: 20px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  font-weight: 400;
  border-radius: 5px;
  background-color: $zillow-color;
  box-shadow: 5px 5px 8px #d0c9c9;
  &:hover{
    box-shadow: 5px 5px 8px 2px #8f92ed;
  }
}
.logged-in{
  background-color: goldenrod;
    &:hover{
    box-shadow: 5px 5px 8px 2px #dded8f;
  }
}

.dropzone-container {
  margin: 0 20px;
}
.house-sell-form-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.dropzone-container {
  height: 100vh;
}

.house-sell-input-container {
  margin: 0 20px;
  > form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    input[type="text"] {
      width: 60%;
      border: 0.7px solid $input-area-border-color;
      border-radius: 3px;
      background-color: $input-area-color;
      padding: 13px 0px 13px 10px;
      &:hover {
        border: 1px solid #006aff;
      }
      margin-bottom: 20px;
    }
    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: medium;
      margin: 10px;
      > p {
        width: 20%;
      }
    }
    #sell-form-input {
      width: 100%;
      display: grid;
      grid-template-columns: 20% 70%;
    }
    textarea {
      width: 70%;
      height: 150px;
      border: 0.7px solid $input-area-border-color;
      border-radius: 3px;
      background-color: $input-area-color;
      margin-bottom: 20px;
      padding: 20px;
      font-size: medium;
    }
    .city-state-input {
      display: grid;
      grid-template-columns: 42% 30%;
    }
    .bd-ba-input {
      display: grid;
      grid-template-columns: 23% 23% 23%;
    }
  }
}

.dropzone-container {
  > h1 {
    text-align: center;
    line-height: 200px;
    color: $zillow-color;
  }
}

.dropzone {
  :hover {
    text-shadow: 0 0 20px #009dff;
  }
}

.geo-coding-container {
  border: 2px solid $input-area-border-color;
  background-color: $input-area-color;
  border-radius: 5px;
  margin: 20px 0;
  width: 75%;
  > h1 {
    margin: 20px;
    font-size: medium;
    display: flex;
  }
}

.rent-sell-container {
  display: flex;
  > div {
    padding: 0 3%;
  }
  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  label {
    display: flex;
    padding: 10px 30px;
    border: 2px solid $input-area-border-color;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    :hover {
      background-color: rgb(187, 231, 255);
    }
  }
  input[type="radio"]:checked + label {
    background-color: rgb(187, 231, 255);
    border-color: $zillow-color;
  }
}

.lat-lng-container {
  display: grid;
  grid-template-columns: 40% 40%;
}

#isRent-text {
  text-align: center;
  width: 100%;
  margin: 10px;
}

#create-house-btn {
  width: 60%;
  border: 1px solid $input-area-border-color;
  border-radius: 3px;
  background-color: $zillow-color;
  font-size: medium;
  padding: 13px 0px 13px 10px;
  &:hover {
    border: 1px solid $zillow-color;
    box-shadow: 0.5px 0.5px 5px 1px #009dff;
  }
}

#geocoding-map-container {
  width: 100%;
  height: 300px;
}

#pin {
  width: auto;
  height: inherit;
}

.sell-background {
  width: 100vw;
  height: 100vh;
}
