.main-content-slogan-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: serif;
  font-size: 21px;
  height: 130px;
  font-weight: 530;
  line-height: 24px;
}

.main-content-slogan{
  display: block;
  box-sizing: content-box;
  text-align: center;
  height: 130px;
  width: 25%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 21px;
  font-weight: 545;
}

.options-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  >a{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 384px;
    height: 466px;
    margin: 25px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(171, 170, 170, 0.5);
    transition: transform 250ms;
     &:hover{
      transform: scale(1.1);
      .options-btn{
        background-color: rgb(0, 106, 255);
        color: white;
      }
    }
    >h4{
      font-family: serif;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
    >p{
      font-family: sans-serif;
      font-size: 16px;
      text-align: center;
    }
    >div{
      display: flex;
      justify-content: center;
    }
  }
}

.options-btn{
  background-color: white;
  width: 35%;
  padding: 10px;
  border: 1px solid rgb(0, 106, 255);
  border-radius: 3px;
  color: rgb(0, 106, 255);
  font-size: medium;
  transition: transform 250ms;
 
}


